
/* header style */
header{
    background: rgba(16, 144, 216, 0.1);
}
header h3{
    color: #414141;
}
#card-6 p, h3{
    color: #414141;
}

/* calculation area height */
.calc-area-height{
    height: 450px;
}